@page
@model TimeToWork.Pages.ServiceProviders.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ServiceProvider</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceProvider.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceProvider.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceProvider.FirstMidName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceProvider.FirstMidName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceProvider.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceProvider.HireDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ServiceProvider.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
